@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutAuthor</title>
</head>
<body>
    <div>
        about author
    </div>
</body>
</html>
